.NET Paquetes/Capa Logica de Negocios/App_WebReferences/WS_SuperNotariado/NewWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Web_Service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="NewWebService" targetNamespace="http://Web_Service/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.5.2.156:8080/NewWebService/NewWebService?xsd=1" namespace="http://Web_Service/" />
    </xsd:schema>
  </types>
  <message name="remove">
    <part name="parameters" element="tns:remove" />
  </message>
  <message name="count">
    <part name="parameters" element="tns:count" />
  </message>
  <message name="countResponse">
    <part name="parameters" element="tns:countResponse" />
  </message>
  <message name="find">
    <part name="parameters" element="tns:find" />
  </message>
  <message name="findResponse">
    <part name="parameters" element="tns:findResponse" />
  </message>
  <message name="create">
    <part name="parameters" element="tns:create" />
  </message>
  <message name="findAll">
    <part name="parameters" element="tns:findAll" />
  </message>
  <message name="findAllResponse">
    <part name="parameters" element="tns:findAllResponse" />
  </message>
  <message name="edit">
    <part name="parameters" element="tns:edit" />
  </message>
  <message name="findRange">
    <part name="parameters" element="tns:findRange" />
  </message>
  <message name="findRangeResponse">
    <part name="parameters" element="tns:findRangeResponse" />
  </message>
  <message name="validar">
    <part name="parameters" element="tns:validar" />
  </message>
  <message name="validarResponse">
    <part name="parameters" element="tns:validarResponse" />
  </message>
  <portType name="NewWebService">
    <operation name="remove">
      <input wsam:Action="http://Web_Service/NewWebService/remove" message="tns:remove" />
    </operation>
    <operation name="count">
      <input wsam:Action="http://Web_Service/NewWebService/countRequest" message="tns:count" />
      <output wsam:Action="http://Web_Service/NewWebService/countResponse" message="tns:countResponse" />
    </operation>
    <operation name="find">
      <input wsam:Action="http://Web_Service/NewWebService/findRequest" message="tns:find" />
      <output wsam:Action="http://Web_Service/NewWebService/findResponse" message="tns:findResponse" />
    </operation>
    <operation name="create">
      <input wsam:Action="http://Web_Service/NewWebService/create" message="tns:create" />
    </operation>
    <operation name="findAll">
      <input wsam:Action="http://Web_Service/NewWebService/findAllRequest" message="tns:findAll" />
      <output wsam:Action="http://Web_Service/NewWebService/findAllResponse" message="tns:findAllResponse" />
    </operation>
    <operation name="edit">
      <input wsam:Action="http://Web_Service/NewWebService/edit" message="tns:edit" />
    </operation>
    <operation name="findRange">
      <input wsam:Action="http://Web_Service/NewWebService/findRangeRequest" message="tns:findRange" />
      <output wsam:Action="http://Web_Service/NewWebService/findRangeResponse" message="tns:findRangeResponse" />
    </operation>
    <operation name="validar">
      <input wsam:Action="http://Web_Service/NewWebService/validarRequest" message="tns:validar" />
      <output wsam:Action="http://Web_Service/NewWebService/validarResponse" message="tns:validarResponse" />
    </operation>
  </portType>
  <binding name="NewWebServicePortBinding" type="tns:NewWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="remove">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="count">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="find">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findAll">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="edit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findRange">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NewWebService">
    <port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
      <soap:address location="http://10.5.2.156:8080/NewWebService/NewWebService" />
    </port>
  </service>
</definitions>